.header_main {
  padding: 30px;
  margin: 20px;
  background-color: rgba(224, 210, 210, 0.911);
  display: flex;
  flex: 1;
  height: 100%;
  gap: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
  background-image: url(https://static.tildacdn.com/tild3738-3731-4337-b233-636639653934/-/resize/504x/1.jpg);
}

.header_main img {
  width: 100%;
  height: 100%;
}

.header_main_text {
  margin-top: 33px;
}

.header_main_text p {
  font-family: "Helvetica Neue", Arial, sans-serif; /* Шрифт текста */
  font-size: 18px; /* Размер текста */
  line-height: 1.6; /* Межстрочный интервал */
  color: #333; /* Цвет текста */
  margin-bottom: 1.5em; /* Нижний отступ */
  text-align: justify; /* Выравнивание текста по ширине */
  letter-spacing: 0.5px; /* Межбуквенный интервал */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Тень текста */
  background-color: #f9f9f9; /* Фоновый цвет */
  padding: 10px 15px; /* Внутренние отступы */
  border-radius: 5px; /* Скругление углов */
  border: 2px solid #d4d368; /* Границы */
}
